<h1>Documentaries</h1>
<br>
<br>
{{#each documentariesData}}
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>{{genre}}</p>
  <p>{{year}}</p>
  <p>{{director}}</p>
  <img src="{{imageUrl}}" alt="Pokemon" width="150" height="220">
  <br>
  <br>
  <a href="/media/{{id}}">Create a Review</a>
{{/each}}